
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<title>健步圈-排行榜</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="PAAS 健步圈" />
<meta name="description" content="健步圈注册页面" />
<link rel="stylesheet" type="text/css" href="assets/style/reset.css?v=1" /> 
<link rel="stylesheet" type="text/css" href="assets/style/root.css?v=1" /> 
<script type="text/javascript" src="assets/js/jquery.min.js?v=1"></script>
<script type="text/javascript" src="assets/js/toogle.js?v=1"></script>    
</head>
<body>
    <!-- start header -->
    	<div id="header">
         <img src="assets/img/logo.png"  alt="logo" class="logo" />
         	<a href="index.html" class="button back"><img src="assets/img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="assets/img/search.png" width="16" height="16" alt="icon"/></a>
         	<a href="assets/page/about.html" target="_blank" class="button create"><img src="assets/img/info.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
        </div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="/detail?weeknum=0">
      	<input type="text" name="id" id="id" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    <!-- start page -->
    <div class="page">
    
    		
            <div class="simplebox">
            	<center><h1 class="titleh">{{.title}}</h1></center>
             
                    <ul class="list-menu">                        <li><a><b><span class="headerbolder">名次</span><span  class="headercenter">姓名</span><span  class="headerbolderend">步数</span></b></a></li>                        {{range $k, $v := $.users}}<li><a href="/detail?id={{$v.Id}}&weeknum={{$.num}}"><b><span class="{{if lt $v.Ranking 4}}red{{else}}blue{{end}}">NO.{{$v.Ranking|html}}</span><span class="text">{{$v.Name|html}}</span><span  class="{{if lt $v.Ranking 4}}red{{else}}blue{{end}}end">{{$v.StepNums|html}}</span> </b></a></li>{{end}}                        </ul>
      </div>
            
            
            
             <div class="form-line">
                   <center><a href="/ranking?type={{.type}}&num={{.nextnum}}"><input type="submit" name="button" id="button" value="&nbsp;{{.buttontext}}&nbsp;" class="list-button" /></a></center> 
                    </div>
            
            
            <!-- start top button -->
            <div class="topbutton"><a href="#header"><span>Top</span></a></div>
            <!-- end top button -->
            
            
            
             <!-- start footer -->
            <div class="footer">
            <center>© 2014 - 2015  健步圈--IT PAAS产品部<p>平台DU I&V自动化能力中心技术支持</p></center>
            </div>
            <!-- end footer -->
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->
	
    
     
    
    
</body>
  
</html>
<script type="text/javascript" src="assets/js/frame.js"></script>
